{% extends "base.html" %} {% block title %}Dashboard{% endblock %} 
{% block content%}
<link rel="stylesheet" href="../static/css/dashboard.css" />
<div class="row p-2">
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat red" href="#">
            <div class="visual">
                <i class='bx bx-credit-card'></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="sales">$0</span>
                </div>
                <div class="desc">Total Sales</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat hoki" href="#">
            <div class="visual">
                <i class='bx bx-dollar'></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="revenue">$0</span>
                </div>
                <div class="desc">Total Revenue</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat blue" href="#">
            <div class="visual">
                <i class='bx bx-package'></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="orders">0</span>
                </div>
                <div class="desc">Total Orders</div>
            </div>
        </a>
    </div>
    <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12">
        <a class="dashboard-stat purple" href="#">
            <div class="visual">
                <i class='bx bxs-user'></i>
            </div>
            <div class="details">
                <div class="number">
                    <span id="customers">0</span>
                </div>
                <div class="desc">Requests</div>
            </div>
        </a>
    </div>
</div>
<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Requests per day</div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="requestsPerDay"></canvas>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div><canvas id="requestsPerDay"></canvas></div>
        </div> -->
    </div>
    <div class="col-12 mt-2">
        <div class="card">
            <div class="card-header">
                <div class="card-title">Requests per hour</div>
            </div>
            <div class="card-body">
                <div class="chart-container">
                    <canvas id="requestsPerHour"></canvas>
                </div>
            </div>
        </div>
        <!-- <div class="card">
            <div><canvas id="requestsPerDay"></canvas></div>
        </div> -->
    </div>
    <!-- <div class="card">
        <div><canvas id="requestsPerHour"></canvas></div>
    </div> -->
</div>
<div class="card mt-2" style="padding:10px">
    <div class="card-header">
        <h2>Requests</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped" id="requests-table">
            <thead>
                <tr>
                    <th>Request ID</th>
                    <th>Bus Stop Code</th>
                    <th>User</th>
                    <th>Timestamp</th>
                </tr>
            </thead>
            <tbody>
                {% for request in requests %}
                <tr>
                    <td>{{ request.id }}</td>
                    <td>{{ request.bus_stop_code }}</td>
                    <td>{{ request.user.username }} (ID: {{ request.user.id }})</td>
                    <td>{{ request.timestamp }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
</div>
{% endblock %}

{% block javascripts %}
    <script src="../static/index.js"></script>
{% endblock javascripts%}