{% extends "base.html" %} {% block title %}Home{% endblock %} 

{% block content%}
<link rel="stylesheet" href="../static/css/btn.css" />
<div class="card" style="padding:10px">
    <div class="card-header">
        <h2>Notes</h2>
    </div>
    <div class="card-body">
        <table class="table table-striped" id="notes-table">
            <thead>
                <tr>
                    <th>Note ID</th>
                    <th>Message</th>
                    <th>Start Date</th>
                    <th>End Date</th>
                    <th>Status</th>
                    <th>Times Sent</th>
                    <th>Options</th>
                </tr>
            </thead>
            <tbody>
                {% for note in notes %}
                <tr>
                    <td>{{ note.id }}</td>
                    <td>{{ note.message }}</td>
                    <td>{{ note.starttime }}</td>
                    <td>{{ note.endtime }}</td>
                    <td>{{ note.status }}</td>
                    <td>{{ note.usedCount }}</td>
                    <td>
                        <button type="button" class="warning-btn-fixed" data-bs-toggle="modal"
                            data-bs-target="#myModal_{{ note.id }}">Edit
                        </button>
                        <div class="modal" id="myModal_{{ note.id }}">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Edit Notes</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        <input type="hidden" id="editId" value="{{ note.id }}">
                                    </div>
                                    <div class="modal-body">
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Message</label>
                                            <input class="form-control" id="edit_Message" value="{{ note.message}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">Start:</label>
                                            <input class="form-control" type="datetime-local" id="edit_Start" value="{{ note.starttime}}">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleInputEmail1">End:</label>
                                            <input class="form-control" type="datetime-local" id="edit_End" value="{{ note.endtime}}">
                                        </div>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="light-btn" data-bs-dismiss="modal">Back</button>
                                        <button id="editNote" class="blue-btn-25 editNote" data-bs-dismiss="modal">Edit Note</button>
                                    </div>

                                </div>
                            </div>
                        </div>
                        <button type="button" class="danger-btn-fixed" data-bs-toggle="modal"
                            data-bs-target="#myModalDelete_{{ note.id }}">Delete
                        </button>
                        <div class="modal" id="myModalDelete_{{ note.id }}">
                            <div class="modal-dialog modal-dialog-centered">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete Notes</h4>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
                                        <input type="hidden" id="deleteId" value="{{ note.id }}">
                                    </div>
                                    <div class="modal-body">
                                        Delete notes?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="light-btn" data-bs-dismiss="modal">Back</button>
                                        <button type="button" class="danger-btn-fixed deletebtn" data-bs-dismiss="modal" id="deletebtn">Delete</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
        <button data-bs-toggle="modal"
        data-bs-target="#addNoteModal" class="blue-btn">Add Note</button>
    </div>
</div>

<div class="modal" id="addNoteModal">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Add Note</h4>
                <button type="button" class="btn-close" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body">
                <div class="form-group">
                    <label for="exampleInputEmail1">Message</label>
                    <input class="form-control" id="add_Message">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">Start:</label>
                    <input class="form-control" type="datetime-local" id="add_Start">
                </div>
                <div class="form-group">
                    <label for="exampleInputEmail1">End:</label>
                    <input class="form-control" type="datetime-local" id="add_End">
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="light-btn" data-bs-dismiss="modal">Back</button>
                <button id="addNote" class="blue-btn-25">Add Note</button>
            </div>
        </div>
    </div>
</div>
<script>
    $(document).ready(function () {
        const noteTable = document.getElementById('notes-table');
        let notetable = new simpleDatatables.DataTable(noteTable);
    
        $("#addNote").click(function() {
            // Retrieve input field values
            var message = $("#add_Message").val();
            var starttime = $("#add_Start").val();
            var endtime = $("#add_End").val();
    
            // Create note object
            var noteData = {
            message: message,
            starttime: starttime,
            endtime: endtime
            };
    
            // Send note data using AJAX
            $.ajax({
            url: "/admin/create_note",
            type: "POST",
            data: JSON.stringify(noteData),
            contentType: "application/json",
            success: function(response) {
                // Handle success response
                $('#addNoteModal').modal('hide');
                location.reload();
            },
            error: function(error) {
                // Handle error response
                console.error("Error adding note:", error);
            }
            });
        });
    
        $(".editNote").click(function() {
            var modalContainer = $(this).closest(".modal");
            var noteId = modalContainer.find("#editId").val();
            var message = modalContainer.find("#edit_Message").val();
            var starttime = modalContainer.find("#edit_Start").val();
            var endtime = modalContainer.find("#edit_End").val();
    
            var noteData = {
                message: message,
                starttime: starttime,
                endtime: endtime
            };
    
            $.ajax({
                url: "/admin/update_note/" + noteId,
                type: "POST",
                contentType: "application/json",
                data: JSON.stringify(noteData),
                success: function(response) {
                    console.log("Note updated successfully!");
                    location.reload();
                },
                error: function(xhr, status, error) {
                    console.error("Failed to update note:", error);
                }
            });
        });
    
        $(document).on('click', '.deletebtn', function() {
            var noteId = $(this).closest('.modal').find("#deleteId").val();
            $.ajax({
                url: "/admin/delete_note/" + noteId,
                type: "DELETE",
                success: function(response) {
                    console.log("Note deleted successfully");
                    location.reload();
                },
                error: function(error) {
                    console.error("Failed to delete note", error);
                }
            });
        });
    });

</script>

{% endblock %}
